{% extends 'base.html' %}
{% block content %}


  <div class="jumbotron">
    <div class="container">
      {% if messages %}
      <div id="messages">
        {% for message in messages %}
        <div class="alert alert-dismissible alert-info"
             role="alert">
          <button type="button" class="close" data-dismiss="alert"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message|escape }}
        </div>
        {% endfor %}
      </div>
      {% endif %}
    <h1>Yahoo logged in!</h1>
    <br><br>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <td>
            Name : {{user.full_name}}
            <br>
            Phone : +{{user.country_code}} {{user.phone_number}}
            <br>
            Username : {{user.get_username}}
            <br>
          </td>
          <td>
          Account Verified: {{user.phone_number_verified}}
          <br>
          <form action="" method="post">
            {% csrf_token %}
            Two Factor Authentication:
              {%if user.two_factor_auth %}
              <button type="submit" class="btn btn-success" name="two_factor_auth">
                ENABLED
              {%else%}
              <button type="submit" class="btn btn-danger" name="two_factor_auth">
                DISABLED
              {%endif%}
            </button>
            Click to toggle.
          </form>
           <a href="/criotest" class="btn btn-danger">Create Project</a>
        </tr>
      </table>

</div>
    <a href="/logout" class="btn btn-danger">Logout</a>
  </div>
  </div>
  {% endblock %}