{% extends 'base.html' %}
{% block content %}
{% if projectlist %}


          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Volatility Data</h1>

          <!-- DataTales Example -->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th style="background-color: black; color:white; border: 1px solid white">Company</th>
                      <th style="background-color: black; color:white; border: 1px solid white">Ticker </th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th style="background-color: black; color:white; border: 1px solid white">Company</th>
                      <th style="background-color: black; color:white; border: 1px solid white">Ticker </th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for i in projectlist %}
                  <tr>
                    <td>{{ i.ComparableCompany }}</td>
                    <td>{{ i.Ticker }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
{% else %}


<!-- Begin Page Content -->
   <!-- Page Heading -->
          <div class="d-flex justify-content-center mb-4">
            <h1 class="h3 mb-0 text-gray-800">Upload Volatility excel sheet with data</h1>
          </div>

          <div class="row">
              <div class="col-lg-6">
                  <!-- Basic Card Example -->
                  <div class="card text-center shadow mb-4">
                      <div class="card-header py-3">
                          <h6 class="m-0 font-weight-bold text-primary">Step-4</h6>
                      </div>
                      <div class="card-body">
                        <a href="Project_id/Volatility_excel" class="btn btn-primary">Download</a>
                      </div>
                  </div>
                  </div>
              </div>
              <div class="col-lg-6">

              <!-- Dropdown Card Example -->
              <div class="card text-center shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Upload Volatility excel sheet</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="myFile">
                    <br>
                    <button class="btn btn-primary" type="submit">Upload</button>
                  </form>
                </div>
                <div class="card-footer text-muted">
      <h3 style="text-align: center;">{{ error }}</h3>
          {% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}
        Leave the 'id' column blank.
      <hr>
        Fill the 'project' column with project id.
      <hr>
        Do not leave any cell blank.

                </div>
              </div>
              </div>
          </div>
        </div>


{% endif %}
{% endblock %}